<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class='Top'>
    <ion-card-content>
      <ion-row align-items-center>
        <ion-col size="4">
          <ion-img src="/assets/icon/usuario.svg" aria-colcount=""></ion-img>
          <ion-card-subtitle class="ion-text-center">MAESTRO</ion-card-subtitle>
        </ion-col>
        <ion-col size="8" align-items-center>
          <ion-img style="width: 40px; height: 40px;" src="/assets/icon/mundo.svg"></ion-img>
          <ion-img style="width: 40px; height: 40px;" src="/assets/icon/edificios.svg"></ion-img>
          <ion-img style="width: 40px; height: 40px;" src="/assets/icon/arboles.svg"></ion-img>
        </ion-col>     
      </ion-row>   
    </ion-card-content>
  </ion-card>

  <ion-row align-items-center>
    <ion-col size="6">
      <ion-card>
        <ion-card-content>
          <p>Soy un maestro de obra que lleva en el area mas de 20 años.</p>
          <p>Desarrollo obra negra, supervisión de obra e instalaciones de infraestructura metalica.</p>
        </ion-card-content>
      </ion-card>
      <ion-card>
          <ion-card-content>
              <h2>Andrés Parra</h2>
              <p>Muy buen trabajo.</p>
              <h2>Sofia Mora</h2>
              <p>Todo muy ordenado y a tiempo.</p>
          </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-content>
            </ion-card-content>
          </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-img src="/assets/icon/img-edificio-1.jpg"></ion-img>
      <ion-img src="/assets/icon/img-edificio-2.jpg"></ion-img>
      <ion-img src="/assets/icon/img-edificio-3.jpg"></ion-img>
    </ion-col>
  </ion-row>


</ion-content>
