.CardGray {
    --background: #eff0f2;
}

.LabelWhite {
    --background: #fff;
}

.RadiusWhite {
    background: #fff;
    border-radius: 5px; 
    margin: 10px;
}

.BubbleWhite {
    background: #fff;
}

.talk-bubble {
    display: inline-block;
    position: relative;
	width: 150px;
	height: auto;
	background-color: white;
}
.border{
  border: 8px solid #666;
}
.round{
  border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;

}

.tri-right.border.left-top:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
    left: -20px;
	right: auto;
    top: -8px;
	bottom: auto;
	border: 32px solid;
	border-color: #666 transparent transparent transparent;
}

.tri-right.left-top:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
     left: -10px;
	right: auto;
    top: 0px;
	bottom: auto;
	border: 22px solid;
	border-color: white transparent transparent transparent;
}

.tri-right.border.right-top:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
     left: auto;
	right: -20px;
    top: -8px;
	bottom: auto;
	border: 32px solid;
	border-color: #666 transparent transparent transparent;
}

.tri-right.right-top:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
    left: auto;
	right: -10px;
    top: 0px;
	bottom: auto;
	border: 20px solid;
	border-color: white transparent transparent transparent;
}

.talktext{
    width: 100px;
    font-size:11px;
    text-align: center;
  }

  .round{
    border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
  }

.Pesos{
    text-align: center;
    width: 100%;
  }