<ion-content>
  <ion-grid style="height: 100%">
    <ion-row justify-content-center align-items-center style="height: 100%">
      <ion-card>
        <ion-img src="/assets/shapes.svg"></ion-img>
        <ion-card-header>
          <ion-card-title>BUSCA UN PROFESIONAL</ion-card-title>
          <ion-card-subtitle>
              <span text-capitalize>Bienvenido a nuestro sistema</span>
          </ion-card-subtitle>
        </ion-card-header>
        <ion-list lines="none">
          <form [formGroup]="login_form" (ngSubmit)="loginForm()">
            <ion-item>
              <ion-label>
                Cédula
              </ion-label>
              <ion-input type="number" placeholder="Cédula" formControlName="cc"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>
                Contraseña:
              </ion-label>
              <ion-input type="password" placeholder="Contraseña" formControlName="password"></ion-input>
            </ion-item>
            <ion-button [disabled]="!login_form.valid" type="submit" color="primary" expand="full" shape="round">
                <span text-capitalize>Ingresar</span>
            </ion-button>
          </form>
        </ion-list>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>
