<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Capacítate</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-card class="CardGray">
    <ion-card-content>
      <ion-row align-items-center>
        <ion-col size="4">
            <ion-img src="/assets/icon/usuario.svg" aria-colcount=""></ion-img>
            <ion-card-subtitle class="ion-text-center">MAESTRO</ion-card-subtitle>
        </ion-col>
        <ion-col size="8">
            <h2 class="ion-text-end">Bienvenido</h2>
            <h1 class="ion-text-end">Alonso Flórez</h1>
        </ion-col>     
      </ion-row>   
    </ion-card-content>
  </ion-card>

  <ion-card class="CardGray">
    <ion-card-header>
      <ion-card-title class="ion-text-center">DIGITALES DISPONIBLES</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item lines="none" (click)="btnCurso()" class="activated CardGray">
        <ion-img src="/assets/icon/mundo.svg"></ion-img>
        <p>Curso instalaciones electricas LED</p>
      </ion-item>
      <ion-item lines="none" (click)="btnCurso()" class="activated CardGray">
        <ion-img src="/assets/icon/edificios.svg"></ion-img>
        <p>Curso de mantenimiento de paneles solares</p>
      </ion-item>
      <ion-button expand="full"><p><b>Ver más</b></p></ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card class="CardGray">
    <ion-card-header>
      <ion-card-title class="ion-text-center">PRESENCIALES DISPONIBLES</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item lines="none" (click)="btnCurso()" class="activated CardGray">
        <ion-img src="/assets/icon/finanzas.svg"></ion-img>
        <p>Capacitación sobre la rentabilidad de materia prima calificada</p>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
  </ion-toolbar>
</ion-footer>