<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Configuración</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-card class="CardGray">
    <ion-card-content>
        <ion-item class="CardGray" lines="none">
            <ion-label>Ayuda para invidentes</ion-label>
            <ion-toggle></ion-toggle>
          </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
